ejb/src/main/resources/META-INF/xsd/postfinance_paymentservice.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ncresponse">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="orderID"/>
                    <xs:attribute type="xs:string" name="PAYID"/>
                    <xs:attribute type="xs:string" name="NCSTATUS"/>
                    <xs:attribute type="xs:string" name="NCERROR"/>
                    <xs:attribute type="xs:string" name="NCERRORPLUS"/>
                    <xs:attribute type="xs:string" name="ACCEPTANCE"/>
                    <xs:attribute type="xs:string" name="STATUS"/>
                    <xs:attribute type="xs:string" name="ECI"/>
                    <xs:attribute type="xs:string" name="amount"/>
                    <xs:attribute type="xs:string" name="currency"/>
                    <xs:attribute type="xs:string" name="PM"/>
                    <xs:attribute type="xs:string" name="BRAND"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>